.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wrapperFull {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.downloadIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--rp-c-brand);
  text-decoration: none;
  padding: 4px;

  svg {
    width: 20px;
    height: 20px;
  }

  :global(html.dark) & {
    color: var(--rp-c-brand-light);
  }
}
